.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  max-width: 730px 408px;
  pointer-events: none;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal__container {
  max-width: 730px;
  border-radius: 8px;
  position: relative;
  padding: 30px 50px;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0 0 32px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Ariel, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: flex;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;
  height: 52px;
  opacity: 1;
  padding: 16px 12px;
  gap: 10px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid rgba(33, 33, 33, 0, 4);
  font-size: 20px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  background-color: #212121;
  border-radius: 8px;
  padding: 10px;
  color: #fcf5e5;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}
