.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
  z-index: 1000;
  max-width: 100%;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal__container {
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  width: 730px;
  padding: 32px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: url(../images/close_icon.svg) no-repeat center / contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #212121;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #fff;
}
.modal__options {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #fff;
  gap: 16px;
}

.modal__label {
  display: block;
  flex-direction: column;
  font-size: 16px;
  color: #212121;
  gap: 8px;
  margin: 32px 0;
  line-height: 100%;
}
.modal__input {
  height: 52px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 16px 12px;
  font-size: 20px;
  color: #212121;
  box-sizing: border-box;
  margin: 8px 0 0;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__submit-btn {
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 156px;
  margin-right: 16px;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__delete-btn {
  background-color: rgba(255, 101, 101, 1);
  color: rgba(33, 33, 33, 1);
  border: none;
  border-radius: 8px;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 156px;
  margin-right: 16px;
}

.modal__cancel-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 18px 32px;
  width: 156px;
  height: 52px;
  transition: opacity 0.3s ease;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 90vw;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);
}

.modal__container-preview {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.modal__close-btn_type_preview {
  background: url(../images/close__icon-light.svg) no-repeat center / contain;
  position: absolute;
  right: -40px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.6;
}

.modal__error {
  display: block;
  color: #ff0000b2;
  margin-top: 8px;
  font-family: "poppins", Arial, sans-serif;
  font-size: 16px;
}

.modal__error_visible {
  display: block;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__button_disabled {
  color: white;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: not-allowed;
  opacity: 0.5;
  border: none;
}

@media screen and (max-width: 480px) {
  .modal__container {
    max-width: 320px;
    padding: 22px 12px 12px;
    border-radius: 8px;
  }

  .modal__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__input {
    font-size: 14px;
  }

  .modal__submit-btn {
    width: 100%;
    font-size: 16px;
  }

  .modal__close-btn {
    top: 16px;
    right: 16px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
    padding: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
